@font-face {
  font-family: "alienleague";
  src: url("./fonts/alienleagueregular-9d3z-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "azonix";
  src: url("./fonts/azonix-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("./fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("./fonts/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("./fonts/librebaskerville-italic-webfont.woff2") format("woff2"), url("./fonts/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("./fonts/librebaskerville-regular-webfont.woff2") format("woff2"), url("./fonts/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-ExtraBold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-SemiBold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body,
html {
  background: #c7c4b8;
  background: linear-gradient(90deg, #c7c4b8 0%, #f7f3e4 15%, #f7f3e4 85%, #c7c4b8 100%);
  font-family: "libre_baskerville", Georgia, serif;
  font-size: 20px;
  line-height: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  div.main,
footer {
    width: 968px;
    margin: 0 auto;
  }
}
div.main {
  display: grid;
  grid-template-columns: 280px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "eczar", Helvetica, sans-serif;
  margin: 0.5rem 0;
}

pre {
  white-space: pre-wrap;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.cyberpunk {
  background: black;
  color: white;
}
.cyberpunk h1, .cyberpunk h2, .cyberpunk h3, .cyberpunk h4, .cyberpunk h5, .cyberpunk h6 {
  color: #D8F6B0;
  font-family: "azonix", sans-serif;
  text-shadow: 0 0 6px #86FF00;
}
.cyberpunk button {
  background: black;
  border: 3px solid #76e841;
  border-radius: 3px;
  color: #76e841;
  font-family: "azonix", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0.1rem;
  padding: 0.5rem 1rem;
}
.cyberpunk button:active {
  background: #5c5649;
  background: linear-gradient(339deg, #5c5649 0%, #0a0a0a 100%);
  color: #76e841;
  transform: translateY(2px);
}
.cyberpunk button:disabled {
  background: #666;
  color: #777;
  border-color: #999;
}

.fantasy h1, .fantasy h2, .fantasy h3, .fantasy h4, .fantasy h5, .fantasy h6 {
  font-family: "eczar", sans-serif;
}
.fantasy button {
  background: #5c5649;
  background: linear-gradient(165deg, #5c5649 0%, #0a0a0a 100%);
  border: 3px solid #5c5031;
  border-radius: 3px;
  color: #fff;
  font-family: "eczar", sans-serif;
  font-size: 1.15rem;
  line-height: 1rem;
  margin: 0.1rem;
  padding: 0.5rem 1rem;
}
.fantasy button:active {
  background: #5c5649;
  background: linear-gradient(339deg, #5c5649 0%, #0a0a0a 100%);
  color: #76e841;
  transform: translateY(2px);
}
.fantasy button:disabled {
  background: #666;
  color: #777;
  border-color: #999;
}

.scifi {
  background: #101119;
  background: linear-gradient(90deg, #101119 0%, #263a60 49%, #101119 100%);
  color: white;
}
.scifi h1, .scifi h2, .scifi h3, .scifi h4, .scifi h5, .scifi h6 {
  color: #A2D4FF;
  text-shadow: 0 0 6px #0086FF;
  font-family: "alienleague", sans-serif;
}
.scifi button {
  background: #02255f;
  background: linear-gradient(165deg, #02255f 0%, #0a0a0a 100%);
  border: 3px solid #6c92ff;
  border-radius: 3px;
  color: #fff;
  font-family: "alienleague", sans-serif;
  font-size: 1.15rem;
  line-height: 1rem;
  margin: 0.1rem;
  padding: 0.5rem 1rem;
}
.scifi button:active {
  background: #5c5649;
  background: linear-gradient(339deg, #5c5649 0%, #0a0a0a 100%);
  color: #6c92ff;
  transform: translateY(2px);
}
.scifi button:disabled {
  background: #666;
  color: #777;
  border-color: #999;
}

h2 {
  color: #000;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding: 3px;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

p {
  margin: 1rem 0;
}

label {
  font-weight: 700;
  margin-right: 1rem;
}

article {
  margin: 1rem 0;
}

input, select {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.25rem;
}

div.input-group {
  margin-bottom: 1rem;
}

ul li {
  list-style-type: disc;
  margin-left: 2rem;
}

strong {
  font-weight: 700;
}

table {
  width: 100%;
}
table thead tr {
  border-bottom: 3px solid black;
}
table thead tr th {
  font-weight: 700;
  text-align: left;
}
table th,
table td {
  border: 1px solid black;
  padding: 0.25rem;
}

.center {
  text-align: center;
}

section.default button {
  background: #5c5649;
  background: linear-gradient(165deg, #5c5649 0%, #0a0a0a 100%);
  border: 3px solid #5c5031;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0.1rem;
  padding: 0.5rem 1rem;
}
section.default button:active {
  background: #5c5649;
  background: linear-gradient(339deg, #5c5649 0%, #0a0a0a 100%);
  color: #76e841;
  transform: translateY(2px);
}
section.default button:disabled {
  background: #666;
  color: #777;
  border-color: #999;
}

section.main {
  padding: 0.5rem;
}

header {
  background: black;
  background: linear-gradient(180deg, black 0%, #595959 100%);
  border-bottom: 1px solid black;
  font-size: 1.75rem;
  line-height: 1.75rem;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 64px auto;
  column-gap: 1rem;
}
header img {
  width: 64px;
  align-self: center;
  justify-self: center;
}
header p {
  color: white;
  font-size: 0.8rem;
  margin: 0;
}
header h1 {
  color: #76e841;
  font-weight: 700;
  text-shadow: 2px 2px 1px #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #220;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  align-self: center;
}

footer {
  font-size: 0.75rem;
  margin-top: 1rem;
}

section.sidebar {
  background: #ebe8d9;
  background: linear-gradient(90deg, #ebe8d9 0%, #ccc9b7 100%);
  color: black;
}
section.sidebar a {
  display: inline-block;
  font-size: 0.6rem;
  line-height: 0.9rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-decoration: none;
  padding: 0.4rem 0;
  text-align: center;
  transition: all 0.15s ease;
}
section.sidebar .button-group {
  padding: 0.25rem;
  margin-top: 0.5rem;
}
section.sidebar .cyberpunk {
  border-top-left-radius: 12px;
  text-shadow: 0 0 2px #86FF00;
  border-right: 1px solid #111;
}
section.sidebar .cyberpunk a {
  background: black;
  border-radius: 7px 1px 7px 1px;
  border: 1px solid #76e841;
  box-shadow: none;
  color: #D8F6B0;
  font-size: 1rem;
  font-family: "azonix", sans-serif;
}
section.sidebar .cyberpunk a.router-link-active {
  background: #76e841;
  color: black;
}
section.sidebar .fantasy {
  background: url("./images/stone-texture.png");
  color: #fad037;
}
section.sidebar .fantasy h3 {
  font-size: 1.5rem;
  text-shadow: 3px 0 0 black, 0 3px 0 black, -3px 0 0 black, 0 -3px 0 black;
}
section.sidebar .fantasy a {
  background-color: #9b5a37;
  background-image: url("./images/stone-texture.png");
  background-blend-mode: screen;
  border-radius: 0;
  border: 1px solid #434242;
  box-shadow: 1px 1px 1px black;
  text-shadow: -1px -1px 0 black, 1px 1px 0 #aaa;
  color: #fad037;
  font-family: "eczar", fantasy;
  font-size: 0.9rem;
}
section.sidebar .fantasy a.router-link-active {
  background: #ffd100;
  background: linear-gradient(180deg, #ffd100 0%, #fff08a 63%, #ffd100 100%);
  text-shadow: none;
  color: black;
}
section.sidebar .normal a {
  background: #b69758;
  background: linear-gradient(180deg, #b69758 0%, #807625 53%, #796e09 56%, #595959 100%);
  border: 0 solid #000;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 0.6rem;
  line-height: 0.9rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-decoration: none;
  padding: 0.4rem 0;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  transition: all 0.15s ease;
}
section.sidebar .normal a:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 0 0 2px rgba(0, 0, 0, 0.5);
}
section.sidebar .normal a:active {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
}
section.sidebar .normal a.router-link-active {
  background: #ffd100;
  background: linear-gradient(180deg, #ffd100 0%, #fff08a 63%, #ffd100 100%);
  color: black;
}
section.sidebar .normal a.router-link-active:hover {
  box-shadow: none;
}
section.sidebar .scifi {
  border-top-left-radius: 12px;
  border-right: 1px solid #111;
}
section.sidebar .scifi h3 {
  font-size: 1.5rem;
}
section.sidebar .scifi h4 {
  font-size: 0.9rem;
}
section.sidebar .scifi a {
  background: #333988;
  background: linear-gradient(180deg, #333988 0%, #294abb 50%, #333988 100%);
  box-shadow: 0 0 3px #00b4ff;
  color: white;
  font-family: "alienleague", sans-serif;
  font-size: 1rem;
}
section.sidebar .scifi a.router-link-active {
  background: #ffd100;
  background: linear-gradient(180deg, #ffd100 0%, #fff08a 63%, #ffd100 100%);
  box-shadow: 0 0 5px yellow;
  color: black;
}
section.sidebar h2 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
section.sidebar h3 {
  font-size: 1rem;
  text-align: center;
}
section.sidebar h4 {
  font-size: 0.75rem;
  border-bottom: 1px solid #000;
}
section.sidebar ul li {
  list-style: none;
  margin-left: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}