@charset "utf-8";

@font-face {
  font-family: 'alienleague';
  src: url('./fonts/alienleagueregular-9d3z-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'azonix';
  src: url('./fonts/azonix-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "libre_baskerville";
  src: url("./fonts/librebaskerville-bold-webfont.woff2") format("woff2"),
  url("./fonts/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "libre_baskerville";
  src: url("./fonts/librebaskerville-italic-webfont.woff2") format("woff2"),
  url("./fonts/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "libre_baskerville";
  src: url("./fonts/librebaskerville-regular-webfont.woff2") format("woff2"),
  url("./fonts/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-ExtraBold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "eczar";
  src: url("./fonts/Eczar-SemiBold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

$ironArachneGreen: #76e841;
$tan: #5c5031;
$gold: #fad037;

body,
html {
  background: rgb(199, 196, 184);
  background: linear-gradient(
      90deg,
      rgba(199, 196, 184, 1) 0%,
      rgba(247, 243, 228, 1) 15%,
      rgba(247, 243, 228, 1) 85%,
      rgba(199, 196, 184, 1) 100%
  );
  font-family: "libre_baskerville", Georgia, serif;
  font-size: 20px;
  line-height: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  div.primary,
  footer {
    width: 968px;
    margin: 0 auto;
  }

  div.primary {
    display: grid;
    grid-template-columns: 280px auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "eczar", Helvetica, sans-serif;
  margin: 0.5rem 0;
}

pre {
  white-space: pre-wrap;
}

sup {
  vertical-align: super;
  font-size: 1.1rem;
}

div.half-column {
  font-size: 0.7rem;
  margin-right: 0.25rem;
}

.cyberpunk {
  background: black;
  color: white;

  h1, h2, h3, h4, h5, h6 {
    color: #D8F6B0;
    font-family: 'azonix', sans-serif;
    text-shadow: 0 0 6px #86FF00;
  }

  button {
    background: rgb(0, 0, 0);
    border: 3px solid $ironArachneGreen;
    border-radius: 3px;
    color: $ironArachneGreen;
    font-family: 'azonix', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0.1rem;
    padding: 0.5rem 1rem;
  }

  button:active {
    background: rgb(92, 86, 73);
    background: linear-gradient(
        339deg,
        rgba(92, 86, 73, 1) 0%,
        rgba(10, 10, 10, 1) 100%
    );
    color: $ironArachneGreen;
    transform: translateY(2px);
  }

  button:disabled {
    background: #666;
    color: #777;
    border-color: #999;
  }
}

.fantasy {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'eczar', sans-serif;
  }

  button {
    background: rgb(92, 86, 73);
    background: linear-gradient(
        165deg,
        rgba(92, 86, 73, 1) 0%,
        rgba(10, 10, 10, 1) 100%
    );
    border: 3px solid $tan;
    border-radius: 3px;
    color: #fff;
    font-family: 'eczar', sans-serif;
    font-size: 1.15rem;
    line-height: 1rem;
    margin: 0.1rem;
    padding: 0.5rem 1rem;
  }

  button:active {
    background: rgb(92, 86, 73);
    background: linear-gradient(
        339deg,
        rgba(92, 86, 73, 1) 0%,
        rgba(10, 10, 10, 1) 100%
    );
    color: $ironArachneGreen;
    transform: translateY(2px);
  }

  button:disabled {
    background: #666;
    color: #777;
    border-color: #999;
  }
}

.scifi {
  background: rgb(16, 17, 25);
  background: linear-gradient(90deg, rgba(16, 17, 25, 1) 0%, rgba(38, 58, 96, 1) 49%, rgba(16, 17, 25, 1) 100%);
  color: white;

  h1, h2, h3, h4, h5, h6 {
    color: #A2D4FF;
    text-shadow: 0 0 6px #0086FF;
    font-family: 'alienleague', sans-serif;
  }

  button {
    background: rgb(2, 37, 95);
    background: linear-gradient(
        165deg,
        rgb(2, 37, 95) 0%,
        rgba(10, 10, 10, 1) 100%
    );
    border: 3px solid rgb(108, 146, 255);
    border-radius: 3px;
    color: #fff;
    font-family: 'alienleague', sans-serif;
    font-size: 1.15rem;
    line-height: 1rem;
    margin: 0.1rem;
    padding: 0.5rem 1rem;
  }

  button:active {
    background: rgb(92, 86, 73);
    background: linear-gradient(
        339deg,
        rgba(92, 86, 73, 1) 0%,
        rgba(10, 10, 10, 1) 100%
    );
    color: rgb(108, 146, 255);
    transform: translateY(2px);
  }

  button:disabled {
    background: #666;
    color: #777;
    border-color: #999;
  }
}

h2 {
  color: #000;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding: 3px;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  border-bottom: 1px solid #333;
}

p {
  margin: 1rem 0;
}

label {
  font-weight: 700;
  margin-right: 1rem;
}

article {
  margin: 1rem 0;
}

input, select {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.25rem;
}

div.input-group {
  margin-bottom: 1rem;
}

ul {
  li {
    list-style-type: disc;
    margin-left: 2rem;
  }
}

strong {
  font-weight: 700;
}

table {
  width: 100%;

  thead {
    tr {
      border-bottom: 3px solid black;

      th {
        font-weight: 700;
        text-align: left;
      }
    }
  }

  th,
  td {
    border: 1px solid black;
    padding: 0.25rem;
  }
}

.center {
  text-align: center;
}

pre {
  font-family: monospace;
  background-color: #454343;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.85rem;
}

section.default {
  button {
    background: rgb(92, 86, 73);
    background: linear-gradient(
        165deg,
        rgba(92, 86, 73, 1) 0%,
        rgba(10, 10, 10, 1) 100%
    );
    border: 3px solid $tan;
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0.1rem;
    padding: 0.5rem 1rem;
  }

  button:active {
    background: rgb(92, 86, 73);
    background: linear-gradient(
        339deg,
        rgba(92, 86, 73, 1) 0%,
        rgba(10, 10, 10, 1) 100%
    );
    color: $ironArachneGreen;
    transform: translateY(2px);
  }

  button:disabled {
    background: #666;
    color: #777;
    border-color: #999;
  }
}

section.main {
  padding: 0.5rem;
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(89, 89, 89, 1) 100%);
  border-bottom: 1px solid black;
  font-size: 1.75rem;
  line-height: 1.75rem;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 64px auto;
  column-gap: 1rem;
  img {
    width: 64px;
    align-self: center;
    justify-self: center;
  }
  p {
    color: white;
    font-size: 0.8rem;
    margin: 0;
  }
  h1 {
    color: $ironArachneGreen;
    font-weight: 700;
    text-shadow: 2px 2px 1px #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #220;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    align-self: center;
  }
}

footer {
  font-size: 0.75rem;
  margin-top: 1rem;
}

section.sidebar {
  background: rgb(235, 232, 217);
  background: linear-gradient(90deg, rgba(235, 232, 217, 1) 0%, rgba(204, 201, 183, 1) 100%);
  color: black;

  a {
    display: inline-block;
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-decoration: none;
    padding: 0.4rem 0;
    text-align: center;
    transition: all 0.15s ease;
  }

  .button-group {
    padding: 0.25rem;
    margin-top: 0.5rem;
  }

  .cyberpunk {
    border-top-left-radius: 12px;
    text-shadow: 0 0 2px #86FF00;

    a {
      background: black;
      border-radius: 7px 1px 7px 1px;
      border: 1px solid $ironArachneGreen;
      box-shadow: none;
      color: #D8F6B0;
      font-size: 1rem;
      font-family: 'azonix', sans-serif;
    }

    a.active {
      background: $ironArachneGreen;
      color: black;
    }

    border-right: 1px solid #111;
  }

  .fantasy {
    background: url('./images/stone-texture.png');
    color: $gold;

    h3 {
      font-size: 1.5rem;
      text-shadow: 3px 0 0 black, 0 3px 0 black, -3px 0 0 black, 0 -3px 0 black;
    }

    a {
      background-color: rgb(155, 90, 55);
      background-image: url('./images/stone-texture.png');
      background-blend-mode: screen;
      border-radius: 0;
      border: 1px solid rgb(67, 66, 66);
      box-shadow: 1px 1px 1px black;
      text-shadow: -1px -1px 0 black, 1px 1px 0 #aaa;
      color: $gold;
      font-family: 'eczar', fantasy;
      font-size: 0.9rem;
    }

    a.active {
      background: rgb(255, 209, 0);
      background: linear-gradient(180deg, rgba(255, 209, 0, 1) 0%, rgba(255, 240, 138, 1) 63%, rgba(255, 209, 0, 1) 100%);
      text-shadow: none;
      color: black;
    }
  }

  .normal {
    a {
      background: rgb(182, 151, 88);
      background: linear-gradient(180deg, rgba(182, 151, 88, 1) 0%, rgba(128, 118, 37, 1) 53%, rgba(121, 110, 9, 1) 56%, rgba(89, 89, 89, 1) 100%);
      border: 0 solid #000;
      border-radius: 3px;
      color: white;
      display: inline-block;
      font-size: 0.6rem;
      line-height: 0.9rem;
      margin-bottom: 0.5rem;
      width: 100%;
      text-decoration: none;
      padding: 0.4rem 0;
      text-align: center;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29),
      inset 1px 1px 1px rgba(255, 255, 255, 0.44);
      transition: all 0.15s ease;
    }

    a:hover {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29),
      inset 0 0 2px rgba(0, 0, 0, 0.5);
    }

    a:active {
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
    }

    a.active {
      background: rgb(255, 209, 0);
      background: linear-gradient(180deg, rgba(255, 209, 0, 1) 0%, rgba(255, 240, 138, 1) 63%, rgba(255, 209, 0, 1) 100%);
      color: black;
    }

    a.active:hover {
      box-shadow: none;
    }
  }

  .scifi {
    border-top-left-radius: 12px;

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 0.9rem;
    }

    a {
      background: rgb(51, 57, 136);
      background: linear-gradient(180deg, rgba(51, 57, 136, 1) 0%, rgba(41, 74, 187, 1) 50%, rgba(51, 57, 136, 1) 100%);
      box-shadow: 0 0 3px rgba(0, 180, 255, 1);
      color: white;
      font-family: 'alienleague', sans-serif;
      font-size: 1rem;
    }

    a.active {
      background: rgb(255, 209, 0);
      background: linear-gradient(180deg, rgba(255, 209, 0, 1) 0%, rgba(255, 240, 138, 1) 63%, rgba(255, 209, 0, 1) 100%);
      box-shadow: 0 0 5px rgba(255, 255, 0, 1);
      color: black;
    }

    border-right: 1px solid #111;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  h3 {
    font-size: 1rem;
    text-align: center;
  }

  h4 {
    font-size: 0.75rem;
    border-bottom: 1px solid #000;
  }

  ul {
    li {
      list-style: none;
      margin-left: 0;
    }
  }
}

#seed {
  font-family: monospace;
}
