<header>
  <img src="images/logo-glyphonly-green.svg" alt="Iron Arachne logo"/>
  <div>
    <h1>Iron Arachne</h1>
    <p>
      Tools for procedural generation of content for tabletop role-playing
      games
    </p>
  </div>
</header>
